<div class="filter-head">
    <h2>hunt for some post</h2>
</div>
<div class="body">
    <div class="title">
        <h3>look for something</h3>
    </div>
    <div class="filters">
        <div class="filter input">
            <label for="filter-keywords">keywords</label>
            <input id="filter-keywords" type="text" placeholder="type keywords"
                   onkeyup={{action "filterChange" "filterKeywords"}} value={{filterKeywords}} />
        </div>
    </div>
    <div class="title">
        <h3>length</h3>
    </div>
    <div class="filters">
        <div class="filter checkbox">
            <input id="filter-short" type="checkbox"
                   onchange={{action "filterChange" "filterShort"}} checked={{filterShort}} />
            <label for="filter-short">short and sweet</label>
        </div>
        <div class="filter checkbox">
            <input id="filter-medium" type="checkbox"
                   onchange={{action "filterChange" "filterMedium"}} checked={{filterMedium}} />
            <label for="filter-medium">medium (not Medium)</label>
        </div>
        <div class="filter checkbox">
            <input id="filter-long" type="checkbox"
                   onchange={{action "filterChange" "filterLong"}} checked={{filterLong}} />
            <label for="filter-long">tl;dr...zzzzzz</label>
        </div>
    </div>
    <div class="title">
        <h3>category</h3>
    </div>
    <div class="filters">
        <div class="filter checkbox quick-tip-filter">
            <input id="filter-quick" type="checkbox"
                   onchange={{action "filterChange" "filterQuick"}} checked={{filterQuick}} />
            <label for="filter-quick">quick tip</label>
        </div>
        <div class="filter checkbox">
            <input id="filter-code" type="checkbox"
                   onchange={{action "filterChange" "filterCode"}} checked={{filterCode}} />
            <label for="filter-code">if (code) { read(); }</label>
        </div>
        <div class="filter checkbox">
            <input id="filter-opinion" type="checkbox"
                   onchange={{action "filterChange" "filterOpinion"}} checked={{filterOpinion}} />
            <label for="filter-opinion">unwarranted opinion</label>
        </div>
        <div class="filter checkbox">
            <input id="filter-juvenal" type="checkbox"
                   onchange={{action "filterChange" "filterJuvenal"}} checked={{filterJuvenal}} />
            <label for="filter-juvenal">juvenal</label>
        </div>
    </div>
</div>
<div class="close-container">
    <button class="filter-button" {{action "hideFilterPanel"}}>filter</button>
    <button class="close-button" {{action "hideFilterPanel"}}>hide</button>
</div>
